.main{
    background-color: #FFFDF3;
    background-repeat: no-repeat;
    background-position-x:  85%;
    background-position-y: -50%;
    background-size: 57%;
}

.profile-container {
    background-color: #FFFDF3;
    text-align: center;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
  }

  .icon-buttons {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .icon-button {
    width: 75px;
    height: 75px;
    background-color: #FFFDF3;
    font-size: 14px;
    color: #333;
    border:none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: background_color 0.3s ease;
  }

  .icon-button:active {
    background-color: #e0e0e0;
}

.inputs {
    justify-content: center;
    display: flex;
    gap: 20px; /* Adjust the spacing between buttons */
    margin-top: 10px; /* Adjust the margin as needed */
  }
