.workspace-main{
    width: 100vw;
    height: 100vh;
}

.workspace-banner{
    background-color: #246BAD;
}

.workspace-content {
    display: grid;
    grid-template-columns: 15% 85%;
}
.sidebar{
    height: 100vh;
    background-color: #B4CEE5;
}
.quick-toolbar{
    padding:1%;
    display: flex;
    justify-content: center;
}

.leaflet-container {
    height: 100vh;
}